<div class="contenido">
  <br />
  <h2>Movimientos Aéreos</h2>

  <form [formGroup]="formulario">

    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput [(ngModel)]="fechaA" formControlName="fechaA" [matDatepicker]="fecha" [min]="fechaMinima"
        [max]="fechaMaxima" (click)="fecha.open()" placeholder="dd/mm/aaaa" required [readonly]="validos">
      <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
      <mat-datepicker #fecha></mat-datepicker>
      <mat-error *ngIf="formulario.controls['fechaA'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora</mat-label>
      <input [(ngModel)]="hora" formControlName="hora" mat-timepicker matInput type="time" value="08:00 AM" required
        [readonly]="validos">
      <mat-error *ngIf="formulario.controls['hora'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Puesto migratorio</mat-label>
      <mat-select [(ngModel)]="puesto" formControlName="puesto" required [readonly]="validos">
        <mat-option value=1>Aeropuerto Juan Santa Maria</mat-option>
        <mat-option value=7>Aeropuerto Daniel Oduver</mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.controls['puesto'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de pasajero</mat-label>
      <mat-select [(ngModel)]="tipoPas" formControlName="tipoPas" required [readonly]="validos">
        <mat-option value="PAS">Pasajero</mat-option>
        <mat-option value="TRI">Tripulante</mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.controls['tipoPas'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Pais de procedencia</mat-label>
      <mat-select [(ngModel)]="procedencia" formControlName="procedencia" required [readonly]="validos">
        <mat-option *ngFor="let pais of listaPais" [value]="pais.code">
          {{pais.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.controls['procedencia'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Código de aeronave </mat-label>
      <input type="text" matInput #campo [(ngModel)]="codigo" formControlName="codigo"
        (input)="cambioCodigo($event.target.value)" required [readonly]="validos">
      <button *ngIf="campo.value?.length > 0" mat-button matSuffix mat-icon-button aria-label="Clear"
        (click)="buscarTransporte(codigo)">
        <mat-icon>search</mat-icon>
      </button>
      <mat-error *ngIf="formulario.controls['codigo'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="resultado && campo.value?.length > 0" appearance="outline">
      <mat-label> Nombre </mat-label>
      <input type="text" matInput [(ngModel)]="nomTransporte" formControlName="nomTransporte" [readonly]="true"
        required>
      <mat-error *ngIf="formulario.controls['nomTransporte'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="resultado && campo.value?.length > 0" appearance="outline">
      <mat-label> Descripción </mat-label>
      <input type="text" matInput [(ngModel)]="desTransporte" formControlName="desTransporte" [readonly]="true">
      <mat-error *ngIf="formulario.controls['desTransporte'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

  </form>

  <button mat-raised-button class="btnPrincipal btnConsultar" style="margin-right: 20px;" [disabled]="!formulario.valid"
    (click)="agregarMovimiento()" [disabled]="!formulario.valid && camposComp">Agregar</button>
  <button mat-button class="btnCancelar cancelar" *ngIf="validos" (click)="cancelar()">Cancelar</button>
  <br /><br />
  <div *ngIf="!hayDatos">
    <div class="no-resultados">
      <p style="margin: 0px;"> No hay registros de pasajeros. </p>
    </div>
  </div>

  <div *ngIf="mostrarTabla && hayDatos">
    <table mat-table [dataSource]="datos" matSort>

      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Documento </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_DOCUMENTO}} </td>
      </ng-container>

      <ng-container matColumnDef="nacionalidad">
        <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.NAC_ID}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaNac">
        <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_FECHA_NACIMIENTO | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_NOMBRE}} </td>
      </ng-container>

      <ng-container matColumnDef="apellido1">
        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_PRIMER_APELLIDO}} </td>
      </ng-container>

      <ng-container matColumnDef="apellido2">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_SEGUNDO_APELLIDO}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let movimiento"> {{movimiento.TRA_MOV_SEXO | sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="informacion">
        <th mat-header-cell *matHeaderCellDef> información </th>
        <td mat-cell *matCellDef="let movimiento">
          <button mat-icon-button (click)="verInfo()">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas" class="encabezado"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="!cargando" class="mat-cell" colspan="7">No hay datos</td>
        <td *ngIf="cargando" colspan="7">
          <mat-card *ngIf="cargando" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
          </mat-card>
        </td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>

  </div>
</div>
