<mat-toolbar class="encabezado" *ngIf="router.url != '/iniciarSesion' && router.url != '/'">

  <div>
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="irMovimiento()">
        <mat-icon class="iconoSubmenu" mat-list-icon>article</mat-icon> Movimientos
      </button>
      <button mat-menu-item (click)="irReporte()">
        <mat-icon class="iconoSubmenu" mat-list-icon>assessment</mat-icon> Reporte
      </button>
    </mat-menu>
  </div>

  <h1 style="margin-left: 15px;"> API Plan C </h1>

  <div class="derecha">
    <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger>
      {{datosUsuario.usuarioId}} <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="cerrarSesion()">
        <mat-icon class="iconoSubmenu" mat-list-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container style="height:88vh;" autosize>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
