<div>
  <br />
  <h1 class="titulo"> Movimientos aéreos </h1>

  <p style="margin-left: 25px;">Para cargar registros seleccione un rango de fecha y presione buscar.</p>
  <div class="divBtnPrincipal">
    <div style="float:left">
      <mat-form-field class="filtro" appearance="outline" style="margin-left: 25px;">
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [formGroup]="rangoFecha" [rangePicker]="picker">
          <input matStartDate formControlName="inicio" #rf>
          <input matEndDate formControlName="fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="rangoFecha.controls.inicio.hasError('matStartDateInvalid')">Fecha invalida</mat-error>
        <mat-error *ngIf="rangoFecha.controls.fin.hasError('matEndDateInvalid')">Fecha invalida</mat-error>
      </mat-form-field>

      <button *ngIf="rf.value?.length > 0" mat-icon-button matTooltip="Cancelar filtro" style="bottom: 5px;"
        matTooltipPosition="above" (click)="noFecha()">
        <mat-icon>clear</mat-icon>
      </button>

      <button mat-raised-button class="btnPrincipal" style="bottom: 5px;" (click)="cargarPorFecha()">Buscar</button>

    </div>
  </div>
  <br /><br />

  <div *ngIf="hayDatos">
    <div *ngIf="verTbl" class="contenido">
      <button style="float: right" mat-raised-button class="btnPrincipal"
        (click)="exporter.exportTable('xlxs', {fileName:'Reporte'})">
        Exportar
      </button>
      <br /><br /><br />

      <div class="columnas">
        <table mat-table [dataSource]="datos" multiTemplateDataRows matTableExporter #exporter="matTableExporter">

          <ng-container matColumnDef="fechaMov">
            <th mat-header-cell *matHeaderCellDef> Fecha Movimiento </th>
            <td mat-cell *matCellDef="let mov"> {{mov.TRA_MOV_FECHA_MOVIMIENTO | date:'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef> Puesto Migratorio </th>
            <td mat-cell *matCellDef="let mov"> {{mov.PUE_ID_PUESTO_MIGRATORIO | puestoMigratorio}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoPas">
            <th mat-header-cell *matHeaderCellDef> Tipo Pasajero </th>
            <td mat-cell *matCellDef="let mov"> {{mov.TRA_MOV_TIPO_PASAJERO | tipoPasajero}} </td>
          </ng-container>

          <ng-container matColumnDef="procedencia">
            <th mat-header-cell *matHeaderCellDef> Procedencia </th>
            <td mat-cell *matCellDef="let mov"> {{mov.NAC_ID_DEST_PROC}} </td>
          </ng-container>

          <ng-container matColumnDef="transporte">
            <th mat-header-cell *matHeaderCellDef> Transporte </th>
            <td mat-cell *matCellDef="let mov"> {{mov.TRA_CODIGO_TRANSPORTE}} </td>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let mov"> {{mov.EMP_NOMBRE}} </td>
          </ng-container>

          <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> Detalle </th>
            <td mat-cell *matCellDef="let cita">
              <button mat-icon-button (click)="expandedElement = expandedElement === cita ? null : cita">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnas.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <b>Documento:</b> {{element.TRA_MOV_DOCUMENTO}}
                  <span style="margin-left: 20px;"></span>
                  <b>Nombre:</b> {{element.TRA_MOV_NOMBRE_COMPLETO}}
                  <span style="margin-left: 20px;"></span>
                  <b>Nacionalidad:</b> {{element.NAC_ID}}
                  <span style="margin-left: 20px;"></span>
                  <b>Fecha nacimiento:</b> {{element.TRA_MOV_FECHA_NACIMIENTO | date: 'dd-MM-yyyy'}}
                  <span style="margin-left: 20px;"></span>
                  <b>Sexo:</b> {{element.TRA_MOV_SEXO | sexo}}
                </div>
              </div>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="nacionalidad">
            <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
            <td mat-cell *matCellDef="let mov"> {{mov.NAC_ID}} </td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> Documento </th>
            <td mat-cell *matCellDef="let mov">  {{mov.TRA_MOV_DOCUMENTO}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaNac">
            <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
            <td mat-cell *matCellDef="let miv">  {{mov.TRA_MOV_FECHA_NACIMIENTO}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let mov"> {{mov.TRA_MOV_NOMBRE}} {{mov.TRA_MOV_PRIMER_APELLIDO}} {{ mov.TRA_MOV_SEGUNDO_APELLIDO }} </td>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let mov"> {{mov.TRA_MOV_SEXO}} </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let element; columns: columnas;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td *ngIf="!cargando" class="mat-cell" colspan="8">No hay datos que coincidan</td>
            <td *ngIf="cargando" colspan="8">
              <mat-card *ngIf="cargando" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
              </mat-card>
            </td>
          </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]" [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>

      </div>
    </div>
  </div>
</div>
