<button class="btnCerrar" mat-icon-button (click)="cancelar()">
  <mat-icon>clear</mat-icon>
</button>

<mat-dialog-content>
  <h1 mat-dialog-title>Cerrar sesión</h1>
  <hr>
  <p style="text-align: center">¿Está seguro que desea cerrar la sesión?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btnPrincipal" mat-button mat-dialog-close (click)="cerrarSesion()" cdkFocusInitial>
    Aceptar
  </button>
  <button class="btnCancelar" mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
<br />
